<h1>Favorite Traveling Photos</h1>
<ul>
  <li><img src='/images/foggymountain.jpeg' alt='A photo of a mountain.'/></li>
  <li><img src='/images/rockycoast.jpeg' alt='A photo of a a rocky beach.'/></li>
</ul>
